---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Blog &ndash; Seth Aycock</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <header>
        <h1><tt>blog</tt></h1>
      </header>
      <table style="width:100%">
        {% for post in site.posts %}
        <tr>
          <td style="width:12%; white-space:nowrap; color:#666; font-size:0.9em">{{ post.date | date: "%b %Y" }}</td>
          <td><a href="{{ post.url }}">{{ post.title }}</a></td>
        </tr>
        {% endfor %}
      </table>
      {% if site.posts.size == 0 %}
      <p><em>No posts yet.</em></p>
      {% endif %}
    </section>
  </body>
</html>
