---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Fun &ndash; Seth Aycock</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <section style="max-width:800px; text-align:justify">
        <header>
          <h1><tt>music</tt></h1>
        </header>
        <p>
          I track what I listen to on <a href="https://www.last.fm/user/SetheryJ">Last.fm</a>.
        </p>
        <div class="widget-box">
          <a href="https://www.last.fm/user/SetheryJ">
            <img
              src="https://lastfm-recently-played.vercel.app/api?user=SetheryJ"
              alt="Recently played tracks on Last.fm"
            >
          </a>
        </div>
      </section>

      <section style="max-width:800px; text-align:justify">
        <header>
          <h1><tt>running</tt></h1>
        </header>
        <p>
          I run and track my activities on <a href="https://www.strava.com/athletes/34997852">Strava</a>.
        </p>
        <div class="widget-box">
          <iframe
            height='454'
            width='300'
            frameborder='0'
            allowtransparency='true'
            scrolling='no'
            src='https://www.strava.com/athletes/34997852/latest-rides/40b61b38f26ec5b5ef8dba71e063ccf19a29c777'>
          </iframe>
        </div>
      </section>
    </section>
  </body>
</html>
