---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Seth Aycock</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <section style="max-width:800px; text-align:justify">
        <header>
          <h1><tt>about</tt></h1>
        </header>
        <p>
          I'm Seth Aycock, a PhD candidate in multilingual NLP at the
          <a href="https://www.uva.nl">University of Amsterdam</a>. I work with 
          <a href="https://staff.fnwi.uva.nl/c.monz/">Christof Monz</a>
          and <a href="https://staff.fnwi.uva.nl/k.simaan/">Khalil Sima'an</a>.
          My research interests can be summarised by these keywords:
          <br>
          <em>machine translation, multilinguality, low-resource, linguistics, typology, reasoning, data</em>.
        </p>
        <p>
          I studied Linguistics (BA, Cambridge), and Speech &amp; Language Processing (MSc, Edinburgh).
          I've worked in multilingual NLP research at Booking.com, Inria Paris, City University London, and the UK Government.
        </p>
      </section>

      <section style="max-width:800px">
        <header>
          <h1><tt>news</tt></h1>
        </header>
        <article class="news-box">
          <div id="scrollbox">
        <ul class="updates">
          <!-- attending EAMT 2026 06/26 -->
          <li>
            <span class="date">🇳🇱 06/26</span>
            Attending EAMT 2026 in Tilburg
          </li>
          <li>
            <span class="date">🇲🇦 03/26</span>
            <em><a href="https://aclanthology.org/2026.findings-eacl.38/">Perfect English</a></em> paper accepted at EACL Findings
          </li>
          <li>
            <span class="date">🇲🇦 03/26</span>
            <em><a href="https://aclanthology.org/2026.mme-main.7/">LLM-as-a-qualitative-judge</a></em> paper accepted at MME @ EACL
          </li>
          <li>
            <span class="date">🇫🇮 02/26</span>
            Gave a talk at University of Helsinki
          </li>
          <li>
            <span class="date">🇫🇮 01/26</span>
            Research visit at University of Helsinki, working on linguistic reasoning
          </li>
           <li>
            <span class="date">🇪🇺 01/26</span>
            Received EAMT grant for linguistic reasoning research
           </li>
          <li>
            <span class="date">🇪🇺 12/25</span>
            Received UniDive COST Action grant for STSM in Helsinki
          </li>
          <li>
            <span class="date">🇨🇳 11/25</span>
            Attended EMNLP and WMT25 in Suzhou, China, presenting <em>Please Translate Again</em> <a href="https://aclanthology.org/2025.emnlp-main.1031/">paper</a> and 
            <em>WMT25 Shared Task </em> <a href="https://aclanthology.org/2025.wmt-1.45/">paper</a>
          </li>
          <li>
            <span class="date">🇫🇮 08/25</span>
            Attended MT Marathon in Helsinki
          </li>
          <li>
            <span class="date">🇳🇱 06/25</span>
            Internship at Booking.com in Amsterdam, working on multilingual model merging
          </li>
          <li>
            <span class="date">🇸🇬 04/25</span>
            Attended ICLR in Singapore, presenting <em>Can LLMs Really Translate...?</em> <a href="https://openreview.net/forum?id=aMBSY2ebPw">paper</a>
          </li>
          <li>
            <span class="date">🇨🇿 02/25</span>
            Gave a talk at ÚFAL, Charles University
          </li>
          <li>
            <span class="date">🇨🇿 08/24</span>
            Attended MT Marathon in Prague
          </li>
          <li>
            <span class="date">🇲🇹 03/24</span>
            Attended EACL in Malta, presenting <em>Topic-guided examples</em> <a href="https://aclanthology.org/2024.eacl-srw.13/">paper</a>
          </li>
          <li>
            <span class="date">🇳🇱 11/23</span>
            Started PhD at University of Amsterdam
          </li>
          <li>
            <span class="date">🇫🇷 08/23</span>
            Research engineer at Inria Paris
          </li>
          <li>
            <span class="date">🇬🇧 03/23</span>
            Research assistant at City, University of London
          </li>
        </ul>
          </div>
        </article>
      </section>
    </section>
  </body>
</html>
