---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Not Work &ndash; Seth Aycock</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <section style="max-width:800px; text-align:justify">
        <header>
          <h1><tt>indoors</tt></h1>
        </header>
        <p>
          I listen to <a href="https://www.last.fm/user/SetheryJ">music</a> and go to <a href="https://www.concertarchives.org/setheryj">concerts</a>. Occasionally, I watch <a href="https://letterboxd.com/ducksalad/">movies</a>.
        </p>
        <div class="widget-box">
          <a href="https://www.last.fm/user/SetheryJ">
            <img
              src="https://lastfm-recently-played.vercel.app/api?user=SetheryJ"
              alt="Recently played tracks on Last.fm"
            >
          </a>
        </div>
      </section>

      <section style="max-width:800px; text-align:justify">
        <header>
          <h1><tt>outdoors</tt></h1>
        </header>
        <p>
          I spend time <a href="https://www.strava.com/athletes/34997852">outdoors</a>, sometimes collecting <a href="https://squadrats.com/map/4d6ktQflKPatJGolMC8z8WmIFg93/14/earth">squares</a>.
        </p>
        <div class="widget-box">
          <iframe
            height='350'
            width='350'
            frameborder='0'
            allowtransparency='true'
            scrolling='no'
            src='https://www.strava.com/athletes/34997852/latest-rides/40b61b38f26ec5b5ef8dba71e063ccf19a29c777'>
          </iframe>
        </div>
        <p></p>
        <div class="widget-box">
          <iframe
            src="https://squadrats.com/map/4d6ktQflKPatJGolMC8z8WmIFg93/14/earth"
            width="400" height="350" frameborder="0" allowscrolling="no"
            style="border-radius:4px;">
          </iframe>
        </div>
      </section>
    </section>
  </body>
</html>
