---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Now &ndash; Seth Aycock</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <header>
        <h1><tt>now</tt></h1>
      </header>
      <p style="max-width:800px; text-align:justify">
        What I'm currently doing.
      </p>
      <p style="max-width:800px; text-align:justify">
        &mdash; Linguistic reasoning annotation collection, and climbing mountains in Japan.
      </p>
      <p style="font-size:0.8em; color:#999;">
        Last updated {{ site.time | date: "%b %Y" }}
      </p>
    </section>
  </body>
</html>
