<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" type="image/png" href="/images/favicon.png">
<link rel="shortcut icon" href="/images/favicon.ico">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="Seth Aycock">
<meta property="og:description" content="PhD candidate in Low-resource NLP at the University of Amsterdam.">
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
