{% assign rym_ratings = site.data.rym_ratings %}
{% if rym_ratings.top_rated.size > 0 %}
<p class="media-section-title">Albums</p>
<div class="widget-box rym-viz">
  <p class="lb-section-title">Top rated</p>
  <ol class="lb-top-rated">
    {% for a in rym_ratings.top_rated %}
      <li>
        <a href="{{ a.url }}" target="_blank" rel="noopener">{{ a.name }}</a>
        &ndash; {{ a.artist }}
        <span class="lb-rating-text">&middot; {{ a.rating }}/10</span>
      </li>
    {% endfor %}
  </ol>

  <p style="font-size:0.75em; color:#999; margin:0.5em 0 0;">
    {{ rym_ratings.total_rated }} rated on <a href="https://rateyourmusic.com/~SetheryJ" target="_blank" rel="noopener">RateYourMusic</a> &middot; updated {{ rym_ratings.last_updated }}
  </p>
</div>
{% endif %}
